@font-face {
  font-family: 'benton-sans-condensed-bold';
  src: url('./fonts/benton-sans-condensed-bold/benton-sans-condensed-bold.eot'); /* IE9 Compat Modes */
  src: url('./fonts/benton-sans-condensed-bold/benton-sans-condensed-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/benton-sans-condensed-bold/benton-sans-condensed-bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('./fonts/benton-sans-condensed-bold/benton-sans-condensed-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./fonts/benton-sans-condensed-bold/benton-sans-condensed-bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}