@font-face {
  font-family: 'benton-sans-Xcondensed-medium';
  src: url('./fonts/benton-sans-Xcondensed-medium/benton-sans-Xcondensed-medium.eot'); /* IE9 Compat Modes */
  src: url('./fonts/benton-sans-Xcondensed-medium/benton-sans-Xcondensed-medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/benton-sans-Xcondensed-medium/benton-sans-Xcondensed-medium.woff') format('woff'), /* Pretty Modern Browsers */
       url('./fonts/benton-sans-Xcondensed-medium/benton-sans-Xcondensed-medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./fonts/benton-sans-Xcondensed-medium/benton-sans-Xcondensed-medium.svg#svgFontName') format('svg'); /* Legacy iOS */
}