@import "../../baseStyles/base.scss";

#mainNav{
  position: fixed;
  top:0px;
  left:0px;
  width: 100%;
  height: 60px;
  background: #4c4967;
  background: -moz-linear-gradient(left,  #4c4967 0%, #645d7a 100%);
  background: -webkit-linear-gradient(left,  #4c4967 0%,#645d7a 100%);
  background: linear-gradient(to right,  #4c4967 0%,#645d7a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4967', endColorstr='#645d7a',GradientType=1 );
  line-height: 60px;
  text-align:center;
  z-index: 2;
  img{
    height: 40px;
    vertical-align: middle;
    display: inline-block;
  }
  .disconnect{
    position: absolute;
    right:20px;
    top:0px;
    height: 60px;
    line-height: 60px;
    text-transform: uppercase;
    text-decoration: none;
    transition:all 300ms ease-out;
    @include lato(400, 14px, $darkPurple);
    &:hover{
      color:#fff;
    }
    &:after{
      content:"";
      display: block;
      margin:0 auto;
      position: absolute;
      left:0;
      right:0;
      bottom:17px;
      height: 3px;
      background: #e09233;
      background: -moz-linear-gradient(left,  #e09233 0%, #c90adb 100%);
      background: -webkit-linear-gradient(left,  #e09233 0%,#c90adb 100%);
      background: linear-gradient(to right,  #e09233 0%,#c90adb 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e09233', endColorstr='#c90adb',GradientType=1 );
      width: 0px;
      transition:all 300ms cubic-bezier(.7,-0.49,.41,1.41);
      border-radius:3px;
    }
    &:hover:after{
      width: 100%;
    }
  }
}
