@font-face {
  font-family: 'ca-bold';
  src: url('./fonts/ca-bold/ca-bold.eot'); /* IE9 Compat Modes */
  src: url('./fonts/ca-bold/ca-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/ca-bold/ca-bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('./fonts/ca-bold/ca-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./fonts/ca-bold/ca-bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}