@font-face {
  font-family: 'ca-script-normal';
  src: url('./fonts/ca-script-normal/ca-script-normal.eot'); /* IE9 Compat Modes */
  src: url('./fonts/ca-script-normal/ca-script-normal.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/ca-script-normal/ca-script-normal.woff') format('woff'), /* Pretty Modern Browsers */
       url('./fonts/ca-script-normal/ca-script-normal.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./fonts/ca-script-normal/ca-script-normal.svg#svgFontName') format('svg'); /* Legacy iOS */
}