@import "../../baseStyles/base.scss";

.more-content{
  text-align: center;
  line-height: 130px;
  margin-bottom: 80px;
  position: relative;
  hr{
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    margin:0px;
    border:0px;
    border-top:1px solid #B4B4B4;
    width: 100%;
    position: relative;
    z-index: 1;
  }
  .circle{
    position: absolute;
    top:0;
    left:0;
    right:0;
    margin:0 auto;
    z-index: 2;
    display: block;
    width: 130px;
    height: 130px;
    border:1px solid #B4B4B4;
    border-radius:100%;
    background:$lightPink;
    line-height: 130px;
    text-align: center;
    .contents{
      display: inline-block;
      vertical-align: middle;
      line-height: 1;
      text-align: center;
      p{
        @include CA(light, 20px, black);
        margin-bottom: 5px;
        strong{
          @include CA(bold, 20px, $pink);
          font-weight: bold;
        }
      }
      .arrow{
        display: inline-block;
        width: 11px;
        height: 13px;
        background: url('./images/arrow.png') center center no-repeat;
      }
    }
  }
}